@font-face {
    font-family: Ro;
    src: url(Roboto-Black.ttf);
}
@font-face {
    font-family: Ro_light;
    src: url(Roboto-Light.ttf);
}
body{
    font-family: Ro;
    display: grid;
    grid-template-columns:  70% 30%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
        "hd hd"
        "AboutMe aside"
        "Formation aside"
        "Parcours aside"
    ;
}
main{
    padding: 30px;
}
#Nom{
    font-size: 50px;
    font-weight: bolder;
}
h1:not(#Nom){
    color:rgb(86, 108, 122);
    border-bottom: 2px solid rgb(213, 215, 215);
}
h3{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.7);
}
h4 {
    font-size: 30px;
    font-family: Ro_light;
}
h6{
    padding-left: 250px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}
ul{
    line-height: 2.5;
}
header{
    grid-area: hd;
    background-color: rgb(86, 108, 122);
    color: white;
    padding-left: 30px;
}
.AboutMe{
    grid-area: AboutMe;
    line-height: 1.5;
    padding-bottom: 50px;
    font-size: 30px;
    font-family: Ro_light;
    inline-size: 90%;
}
.Formation{
    grid-area: Formation;
    padding-bottom: 50px;
    
}
.Date{
    font-size: 27px;
    float: left;
    padding-right: 30px;
    color: rgba(0, 0, 0, 0.6);
}
.Parcours{
    grid-area: Parcours;
}
.missions{
    padding-left: 25vh;
    inline-size: 80%;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
}
aside{
    padding: 30px;
    background-color: rgb(213, 215, 215);
    grid-area: aside;
}
aside h4{
    font-size: 20px;
    font-weight: bolder;
}
aside ul{
    color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 768px) {
    body{
        font-family: Ro;
        display: grid;
        grid-template-columns:  100%;
        grid-template-rows: 0.5fr 0.05fr 0.05fr 0.05fr 0.5fr;
        grid-template-areas: 
            "hd hd"
            "AboutMe AboutMe"
            "Formation Formation"
            "Parcours Parcours"
            "aside aside"
        ;
    }
    .AboutMe{
        font-size: 30px;
        font-family: Ro_light;
        inline-size: 100%;
    }
    h6{
        padding-left: 50px;
    }
    .missions{
        padding-left: 5vh;
        inline-size: 100%;
    }
    main{
        padding-left: 30px;
    }
}