@font-face {
    font-family: Ro;
    src: url(Roboto-Black.ttf);
}
@font-face {
    font-family: Ro_light;
    src: url(Roboto-Light.ttf);
}
body{
    font-family: Ro;
    margin-top: 0;
    margin-right: 50px;
    display: grid;
    height: auto;
    grid-template-columns:  70% 30%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
        "hd hd"
        "AboutMe aside"
        "Formation aside"
        "Parcours aside"
    ;
}
main{
    padding: 30px;
}

#Nom{
    font-size: 50px;
    font-weight: bolder;
}
h1:not(#Nom){
    color:rgb(86, 108, 122);
    border-bottom: 2px solid rgb(213, 215, 215);
}
h3{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.7);
}
h4 {
    font-size: 30px;
    font-family: Ro_light;
}
h6{
    padding-left: 250px;
    bottom:25px;
    position: relative;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}
ul{
    line-height: 2.5;
}
header{
    grid-area: hd;
    background-color: rgb(86, 108, 122);
    color: white;
    padding-left: 30px;
}
.AboutMe{
    grid-area: AboutMe;
    line-height: 1.5;
    padding-bottom: 50px;
    font-size: 30px;
    font-family: Ro_light;
    inline-size: 90%;
}
.Formation{
    grid-area: Formation;
    padding-bottom: 50px;
    
}
.Date{
    font-size: 27px;
    float: left;
    padding-right: 30px;
    color: rgba(0, 0, 0, 0.6);
}
.Parcours{
    grid-area: Parcours;
}
.missions{
    position: relative;
    bottom: 25px;
    left:130px;
    inline-size: 80%;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
}
aside{
    padding: 30px;
    background-color: rgb(213, 215, 215);
    grid-area: aside;
}



